.article{

	&.article--top{
		border:4px red dotted;
		position:relative;
	}

	.article__header{
	
		.article__header--h2{
			color:green;
		}

	}

	.article__body{
		border-top: 1px black dotted;
		border-bottom:1px black dotted;
	}

	.article__body--p{
		font-style: italic;
	}

	.article__footer{
		.article__footer--h2{
			color:red;

		}
	}
	
}

.navigation{
	
	&:after{
		position:absolute;
		width:50%;
		content: '';
		display: block;
		height:100%;
		background-color: lightblue;
		right:-50%;
		overflow:hidden;
	}

	&:before{
		position:absolute;
		width:51%;
		content: '';
		display: block;
		height:100%;
		background-color: lightblue;
		left:-51%;
		overflow:hidden;
	}
	.navigation__ul{
		position: relative;
			top: 16px;
			margin-top: 0;
	}
	.navigation__ul__li{
		position: relative;
		float:left;
		text-align:center;
		width: calc(96% / 5);

	}

	position:relative;
	height:60px;
	background-color: lightblue;
	margin-top: -13px;
}

.logo{

	.logo__container{
		position:relative;
		border:4px red dotted;
		width:100%;
		height:100%;
		display: block;
	}
	
	position:relative;
	margin:0 auto;
	width:50%;
	height:82%

	
}