@mixin ZeroAuto{
	margin: 0 auto;
	display:block;
}

html{
	width:100%;
}
body{
	width:100%;
	font-size: 1.5em;

}
h2{
	color:blue;

}
article{
	width:50%;
	text-align: center;

	@include ZeroAuto

}
nav{
	width:50%;
	@include ZeroAuto
}
ul{
	clear:both;
	display:block;
	list-style: none;
}

.header{

	Height:400px;

	
}



