html{
	width:100%;
}
body{
	width:100%;
	font-size: 1.5em;

}
h2{
	color:blue;

}
article{
	width:50%;
	margin:0 auto;
	display: block;
	text-align: center;

}
nav{
	width:50%;
	margin:0 auto;
	display: block;
}
ul{
	clear:both;
	display:block;
	list-style: none;
}

.header{

	Height:400px;

	
}



